body {
  background-color: #b5f1ff;
}
.jumbotron {
  color: #F48024;
  background-color: transparent;
  text-align: center;
  border-style: dotted;
}

#buttonInput {
  background-color: #F48024;
  color: white;
}

#numberInput {
  opacity: .95;
  width: 250px;
}
